body {
  height: 300vh;
}

.container {
  height: 50vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 200px);
}

.card {
  padding: 1rem;
  background-color: #c43636;

  border-radius: 10px;
}

.card-1 {
  background-color: green;
  grid-column: 1/7;
  grid-row: 1/ 3;
}

.card-2 {
  background-color: blue;
  grid-column: 7 / 10;
}

.card-3 {
  background-color: purple;
  grid-column: 10 / 15;
}

.bottom-container {
  height: 300px;
  width: 400px;
  border: 3px solid yellow;
  position: relative;
  margin: 0 auto;
}

.item {
  width: 200px;
  height: 100px;
  border: 3px dotted red;
  background-color: red;
  position: absolute;
  top: 80px;
  right: 130px;
  z-index: 1;
}

.item1 {
  width: 100px;
  height: 100px;
  border: 3px solid salmon;
  background-color: salmon;
  position: absolute;
  z-index: 2;
}

.item2 {
  width: 100px;
  height: 100px;
  top: 12px;
  right: 140px;
  border: 3px solid rgb(236, 188, 182);
  background-color: rgb(212, 167, 162);
  position: absolute;
  z-index: 3;
}

.test {
  width: 100px;
  height: 100px;
  background-color: red;
}

nav {
  background-color: black;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

p {
  color: white;
}
